.flex-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.card {
  border-radius: 13px;
  max-width: 55%;
  margin-bottom: 21px;
  text-align: center;

}


h1 {
  font-weight: 400;
  font-size: 55px;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

h2 {
  font-weight: 300;
  font-size: 21px;
  margin: 0px;
  padding: 0px;
}

p {
  font-weight: 100;
  font-size: 21px;
}

.description {
  margin-top: 0px;
}

.made-with {
  font-size: 13px;
  bottom: 15px;
  margin: 0;
  position: absolute;
}

.twitter-link:visited {
  color: #1dcaff;
  text-decoration: none;
}

.twitter-link {
  color: #00aced;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  font-weight: 200;

}

.twitter-link:hover {
  color: #0084b4;
  text-decoration: none;
}